
.btn{
margin-left: 150px;
}
body{
    background-image:url("https://media.giphy.com/media/YMRTR2jHGjvDenViq9/giphy.gif");
    background-size: cover;
    text-align: center;
    color: aliceblue;
    font-family:Impact, Haettenschweiler, 'Arial Narrow Bold', sans-serif
}
img{
    height: 50px;
    width: 30px;
}