 body {
    color:rgb(13, 0, 255);
 background-image:url("https://media.giphy.com/media/iicDrNGWxHmDrIni6j/giphy.gif");
background-size: cover;
text-align: center;
font-family: 'Orbitron', sans-serif;

}

.btn{
    padding: 6px 17px;
    background-color: white;
    font-family: inherit;
}
.underling{
    border-bottom: 3px solid white;
}
