body{
    background-color: rgba(77, 171, 226, 0.921);
}
input{
    border-radius: 30px;
}
label{
    color: white;
}
input,label{
    display:block;
    font-size: 40px;
}
div{
    margin-top: 70px;
  margin-left: 35%;
}
button{
    margin-top: 60px;
    margin-left: 180px;
    border-radius: 10px;
    font-size: 35px;
    border: 1px solid black;
}