body{
    background-color: orange;
}
h2{
    text-align: center;
    color: black;
    padding-top: 30px;
    
}
ul li {
    display: inline-block;
    border: 1px solid black;
    background-color: white;
   
}
.flex{
    justify-content: center;
    display: flex;
}
ul li  :hover{
    color: aquamarine;
}
header{
    background-color: greenyellow;
}
