.container1 {
color: #0000ff;
background-color: #deb887;
height: 300px;
width: 500px;
margin: 50PX auto;
padding: 10px;
text-align: center;
/*border: 5px dashed black;isprekidana */
/*border: 5px double red; dupla */
/*border: 5px solid blue; obicna */
border: 5px dotted darkorchid;
text-transform: inherit;
border-top-left-radius: 15px;
border-top-right-radius: 15px ;
}
#id1{
color: black;
background-color: red;
height: 200px;
width: 300px;
margin-top: 240px;
margin-left: 90px;
border-radius: 20px;
}
.container1:hover {
    background-color: #ff0000;
}
#id1:hover {
    background-color: chocolate
}
/*prednost prilikom dodele stilova ima id u odnosu na clasu */