.container1 {
    box-shadow: 5px 4px 3px rgba(158, 28, 28,0.9);
    color: #0000ff;
    background-color: #deb887;
    height: 300px;
    width: 500px;
    margin: 50PX auto;
    padding: 10px;
    text-align: center;
    /*border: 5px dashed black;isprekidana */
    /*border: 5px double red; dupla */
    /*border: 5px solid blue; obicna */
    border: 5px dotted darkorchid;
    text-transform: inherit;
    border-top-left-radius: 15px;
    border-top-right-radius: 15px ;
    }
    #id1{
    color: black;
    background-color: red;
    height: 200px;
    width: 300px;
    margin-top: 240px;
    margin-left: 90px;
    border-radius: 20px;
    box-shadow: 5px 4px 3px rgb(0, 0, 255) ;
    }
    .container1:hover {
        background-color: #ff0000;
    }
    #id1:hover {
        background-color: chocolate
    }
    /*prednost prilikom dodele stilova ima id u odnosu na clasu */
    .container1 img {
        width: 510px;
        height: 200px;
        border-top-left-radius: 15px;
        border-top-right-radius: 15px ;
    }
    .container1 img:hover {
content:url(https://upload.wikimedia.org/wikipedia/commons/thumb/0/07/Grb-fk-crvena-zvezda.svg/800px-Grb-fk-crvena-zvezda.svg.png);

    }