h1{
    text-align: center;
    background-color: #e5e5e5;
    padding: 15px;
}
.menu{
    text-align: center;
    float: left;
    text-decoration: none;
}
.menu a {
    background-color: #e5e5e5;
    padding: 8px;
    margin-top: 7px;
    display: block;
    width: 100%;
    color: black;
    text-decoration: none;
  }
  h2{
    text-align: center;

  }
  .main{
    float: left;
    width: 60%;
    padding: 0 40px;
  }
  .right{
    background-color: #e5e5e5;
    float: left;
    width: 20%;
    text-align: center;
  }
    