.kontenjer{
    font-size: 20px;
    width: 400px;
    height: 300px;
    color: aqua;
    background-color: blue;
    font-family: 'Times New Roman', Times, serif;
    margin: 50px auto; 
   
    margin-bottom: 90px;
    padding: 60px; 
    padding-left: 39px;

}
.kontenjer h1 {
    color: black;
}