header{
background-image:url("https://images.unsplash.com/photo-1664892379227-2add8126d28f?ixlib=rb-1.2.1&ixid=MnwxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8&auto=format&fit=crop&w=901&q=80");
background-size: cover;
height: 110vh;
}
body{
    padding: 0;
    margin: 0;
}
ul li{
    display: inline-block;
}
ul{
    display: block;
    float: left;
    list-style: none;
    margin: 15px;
}
ul li a{
    display: inline-block;
    text-decoration: none;
    padding: 15px 20px;
    border: 1px solid transparent;
    transition: 0.6 ease;
}
ul li{
color: white;
padding: 15px, 20px;
transition: 0.6 ease;
}
ul li:hover{
    background-color: white;
    color: black;
}
    .title H1{
        color: white;
        font-size: 70px;
    }
    .title{
        position: absolute;
        top: 50%;
        left: 32%;
    }
    .botton{
        position: absolute;
        top: 70%;
        left: 30%;
    }
    .main{
        max-width: 1200px;
        margin: auto;
    }
    ul.li :active{
        background-color: white;
        color: black;
    }